* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/Aurora\ -\ 48.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #262626;
  padding: 20px;
  border-radius: 10px;
  box-shadow: black 0px 10px 25px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(145deg, #222222, #292929);
  box-shadow:  6px 6px 13px #1b1b1b,
               -6px -6px 13px #313131;
  background: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 10px;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

form input.equal {
  width: 145px;
}